<form action="<%= sessions_url %>" method="POST">

  <label for="user_name">User Name</label>
  <input name="user[user_name]" id="user_name" type="text">

  <label for="password">Password</label>
  <input name="user[password]" id="password" type="password">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="Submit" value="Sign in">

</form>