<form action="<%= users_url %>" method="POST">
  <label for="user_name">User Name</label>
  <input type="text" name="user[user_name]" id="user_name">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">



  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Create User">
</form>