<form action="/cat_rental_requests" method="POST">

  <label for="cat_request">Cat Request</label>

  <select name="cat_rental_request[cat_id]">

    <% @cats.each do |cat| %>
      <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>

  </select>

  <label for="cat_start_date">Start Date</label>
  <!-- click on the date will launch a date picker -->
  <input name="cat_rental_request[start_date]" id="cat_start_date" type="date"></input>

  <label for="cat_end_date">End Date</label>
  <!-- click on the date will launch a date picker -->
  <input name="cat_rental_request[end_date]" id="cat_end_date" type="date"></input>

  <input type="submit" value="Request Cat!">

</form>