<!-- To do this, we need to get three things right:
The edit form tries to use a Cat's values to pre-fill the fields. The new form doesn't have an existing cat, though.
The edit form posts to cat_url(cat); we want to post to cats_url if we're making a new cat.
The edit form makes a PUT request; we want to make a POST reqeust.
To solve this, build (but don't save) a blank Cat object in the #new action. Set this to @cat.
All the pre-filling should get the blank values.
Use #persisted? to conditionally use cat_url(cat)/PUT only if the Cat has been previously saved to the DB. -->


<form action="<%= url %>" method="POST">


  <!-- label's `for` attribute connects with the input's `id` attribute-->
  <label for="name">name</label>
  <!-- input name `cat[name]` means that Rails will nest the `name` attribute
       inside a `cat` hash: `{ :cat => { :name => "gizmo" } }` -->
  <input name="cat[name]" id="name" type="text" value="<%= @cat.name %>">
  <br>

  <label for="cat_age">Age</label>
  <input name="cat[age]" id="cat_age" type="number" value="<%= @cat.age %>">
  <br>

  <!-- this label isn't for anything specific -->
  <label>Sex</label>
  <div>
    <!-- note that both radio buttons have the name `cat[sex]`; that's how
         they are related -->
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="M" checked="<%= @cat.sex == "M" ? "True" : "False" %>">
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="F" checked="<%= @cat.sex == "M" ? "True" : "False" %>">
    <label for="cat_sex_f">Female</label>
  </div>
  <br>


  <label for="cat_color">color</label>
  <!-- dropdown -->
  <select name="cat[color]">
    <!-- `brown` is the value that will be submitted to the server; user is
         displayed "Brown" as the choice -->
    <option value=""></option>
    <option value="white"  <%= "selected" if @cat.color == "white"         %>>White</option>
    <option value="black" <%= "selected" if @cat.color == "black"         %>>Black</option>
    <option value="gray" <%= "selected" if @cat.color == "gray"%>
    >Gray</option>
    <option value="calico" <%= "selected" if @cat.color == "calico"         %>>Calico</option>
  </select>
  <br>

  <!-- CHECK MDN FOR DATE PROMPT -->
  <label for="cat_birth_date">Birth date</label>
  <!-- click on the date will launch a date picker -->
  <input name="cat[birth_date]" id="cat_birth_date" type="date"
      value="2000-12-12"
  ></input>

  <!-- <input type="hidden" name="_method" value="PUT"> -->
  <input type="hidden" name="_method" value="<%= hidden_value%>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Build my cat!">



  <!--
    Other uncovered input types:
    hidden field
    check box
    -->
</form>