<table>
  <th>Cat</th>
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Birth Date</td>
    <td>Sex</td>
    <td>Color</td>
  </tr>

  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
  </tr>
</table>

<br>
<br>

<table>
  <th>Rental Requests</th>
  <tr>
    <td>Start Date</td>
    <td>End Date</td>
  </tr>

  <% @rental_requests.each do |request| %>
  <tr>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>

    <% if request.status == "PENDING" && @cat.user_id == self.current_user.id %>
      <td><%= button_to "Approve Request", approve_cat_rental_request_url(request), method: :put %></td>
      <td><%= button_to "Deny Request", deny_cat_rental_request_url(request), method: :put  %></td>
    <% end %>


  </tr>
  <% end %>
</table>

