<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Rails.env.development? %>
  <%= debug params %>
  <br>
  <%= debug session %>
  <br>
  <hr>
  <% end %>
  <% if flash[:notice] %>
      <%= flash[:notice] %>
  <% end %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end%>
  <% end %>

  <% if current_user %>
    You are logged in as <%= current_user.user_name %>
    <%= button_to "Log Out", sessions_url, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_sessions_url, method: :get %>
  <% end %>
<%= yield %>

</body>
</html>
